@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Добро пожаловать!</h1>
    <p class="lead">Это демонстрационная страница ASP.NET MVC.</p>
    <p>
        <a href="@Url.Action("CustomHtmlPage", "Home")" class="btn btn-primary btn-lg">Перейти к CustomHtmlPage</a>
    </p>
</div>
